<h1>Burger List</h1>
<ul>
    {{#each burgers}}
    <li>
        <p>{{this.id}}.{{this.name}}</p>
    </li>
    {{/each}}
</ul>

<h1>Add Burger</h1>
<form method="POST" action="/create">
<textarea type="text" name="burger"></textarea>
<button type="button" class="btn btn-primary" id="submit-button">Submit</button>

</form>
<ul>

</ul>